extends layout

block content
  h1.display-6= title
  
  if posts===undefined
    p.lead No posts to display 

  else 
    for post in posts
      div.card.mb-4
        div.card-body.lead=post.message 
        if isAdmin !== undefined && isAdmin
          div.card-footer.d-flex.justify-content-between
            span=`Author: ${user.username}`
            a.active.ms-2.badge.bg-secondary(href=`/delete/${post._id}`) Delete
        
